    body{
    /*background-image: url(../imagem/fundo/vermesolido.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
    h1{
    text-align: center;
    color: black;
}
    h2{
    background-color:#FFFFEE;
    text-align: center;
    color: black;
}
    title{
        text-align: center;
 }
 .card-meu{
    border: 0 none 0;
    border-style: none;
    margin-top: 15px;
    position: relative;
    left: 950px;
    transform: translateX(-50%);
    max-width: 500px;
}
.card-text{
    color: rgb(255, 255, 255);
    text-align: center;
}
h5{
    color: aqua;
}
.card-title{
    color: rgb(255, 255, 255);
}
.btn-primary{
    color: white;
    background-color: black;
    
}